@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.list-reset {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.user-menu-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  background-image: url(../images/background/hero-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  color: #000000;
  background-color: inherit;
  text-transform: uppercase;
}

.main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
  vertical-align: top;
}

.advantages-item-image {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(odd) {
  background-color: #83B3D333;
}

.advantages-item
.advantages-title {
  color: #000000;
}

.comfort-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.comfort-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
}

.comfort-description {
  text-align: center;
  vertical-align: top;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-background-image {
  width: 1200px;
  height: 414.86px;
  background-image: url(../images/background/subscribe-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.subscribe-background-image
.main-title,
.subscribe-background-image
.main-description {
  color: #ffffff;
}

.subscribe-form-input {
  line-height: 24px;
  background-color: #F2F2F2;
}

.subscribe-form-submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
}

.catalog-filter {
  background-image: url(../images/background/filter-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
}

.catalog-filter
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
}

.filter-item {
  line-height: 23px;
  text-align: left;
  vertical-align: top;
}

.filter-form-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.filter-form-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  border: none;
}

.sorting-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  vertical-align: top;
  color: #000000;
}

.catalog-item
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  vertical-align: top;
  color: #000000;
}

.catalog-item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-item-add-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.catalog-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-item-page {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
}

.pagination-item-active {
  color: #000000;
  background-color: #F2F2F2;
}
