@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.list-reset {
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
}

.page-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.header-logo-link {
  margin-right: 28px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user-menu-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  background-image: url(../images/background/hero-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.main-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-container {
  width: 400px;
  height: 385px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-image {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-image-reverse {
  flex-direction: row-reverse;
}

.advantages-item {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(odd) {
  background-color: #83B3D333;
}

.advantages-item
.advantages-title {
  color: #000000;
}

.comfort-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.comfort-item {
  width: 400px;
  height: 385px;
}

.comfort-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.comfort-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-background-image {
  background-image: url(../images/background/subscribe-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.subscribe-background-image
.main-title,
.subscribe-background-image
.main-description {
  color: #ffffff;
}

.subscribe-form-input {
  line-height: 24px;
  background-color: #F2F2F2;
}

.subscribe-form-submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter {
  background-image: url(../images/background/filter-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-item {
  line-height: 23px;
}

.filter-form-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.filter-form-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  border: none;
}

.sorting-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.catalog-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-item-add-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}

.catalog-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-item-page {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
}

.pagination-item-active {
  color: #000000;
  background-color: #F2F2F2;
}
